html {
	box-sizing: border-box;
	font-size: 62.5%;
}
body {
	font-weight: 400;
	font-family: $fontBody;
	line-height: 26px;
	font-size: 1.6rem;
	color: inherit !important;
}

// @media screen and (min-width: 750px) {
// 	body {
// 		font-size: 1.4rem;
// 	}
// }

h1,
h1 a,
h2,
h2 a,
h3,
h3 a,
h4,
h4 a,
h5,
h5 a,
h6,
h6 a {
	font-family: $fontHeader;
	font-weight: 300;
	line-height: 1.3;
}

.display-text {
	font-size: 4.8rem;
	line-height: 65px;

	@include media('<phone-land') {
		font-size: 3.2rem;
		line-height: 42px;
	}
}
.xl-text,
h1,
.h1 {
	font-size: 4rem;
	@include media('<phone-land') {
		font-size: 3.2rem;
	}
}

.l-text,
h2,
.h2 {
	font-size: 3.6rem;
	@include media('<phone-land') {
		font-size: 3rem;
	}
}

.m-text,
h3,
.h3 {
	font-size: 3.2rem;

	@include media('<phone-land') {
		font-size: 2.6rem;
	}
}
.s-text,
h4,
.h4 {
	font-size: 2.8rem;

	@include media('<phone-land') {
		font-size: 2.4rem;
	}
}

.rich-text__text {
	line-height: 26px;
	p + p {
		margin-top: 14px;
	}
}

//Container
.content-max {
	max-width: $maxWidth;
	margin-left: auto;
	margin-right: auto;
}

.content-block {
	padding-left: 25px;
	padding-right: 25px;

	@media screen and ($onLargeMobile) {
		padding-left: 32px;
		padding-right: 32px;
	}
	@media screen and ($onTablet) {
		padding-left: 52px;
		padding-right: 52px;
	}
	@media screen and ($onLargeTablet) {
		padding-left: 64px;
		padding-right: 64px;
	}
}

%cover {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

// EXAMPLE OF USAGE FOR %cover

// figure{
// 	position: relative;
// 	height: 121px;
// 	width: 230px;
// 	>img{
// 		@extend %cover;
// 		object-fit: cover;
// 	}

.grecaptcha-badge,
.shop-hcaptcha-badge-container,
#shop-hcaptcha-badge-container {
	visibility: hidden;
}
